html, body {
	padding:0;
	margin:0;
	height:100%;
}
body {
	background-color:#EEE;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bubblegum Sans', Verdana, sans-serif;
}
.container {
	padding:16px;
}
.parallax {
	background-image:url(img/ben1500.jpg);
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
