html, body {
	padding:0;
	margin:0;
	height:100%;
}
body {
	background-color:#EEE;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bubblegum Sans', Verdana, sans-serif;
}
.container {
	padding:16px;
}
.parallax {
	height:100%;
	background-image:url(img/ben1500.jpg);
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tagline {
	color:#777;
	font-size:0.9rem;
}

@media only screen and (min-width:600px) {
	.parallax {background-attachment: fixed;}
}
@media only screen and (max-width:600px) {
	.mobile-hide {display:none;}
}
