html, body {
	padding:0;
	margin:0;
	height:100%;
}
body {
	background-color:#EEE;
	font-family: 'Open Sans', sans-serif;
	animation:opac 1s forwards;
}
h1 {
	font-family: 'Life Savers', Verdana, sans-serif;
	margin-bottom:0;
	font-size:3em;
}
.container {
	padding:1rem 1%;
	box-shadow: inset 0px -10px 20px -7px #333, inset 0px 10px 20px -7px #333;
}
.container:before, .container:after {
	content:"";
	display:table;
	clear:both;
}
.cover {
	position:relative;
}
.title {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%)
}
.half,.third,.twothirds {
	float:left; 
	width:100%;
	padding:0 1%;
}
.parallax {
	height:100%;
	background-image:url(img/ben1500.jpg);
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tagline {
	color:#777;
	font-size:0.9rem;
	margin-top:0;
}
.connections {
	margin-top:3rem;
}
.connections img {
	padding-right:8px;
}
.tiles {
	margin:0;
	padding:0;
	text-align: justify;
}
.tiles p {
	display:none;
}
.tiles li {
	display:inline-block;
	position:relative;
}
.tiles img {
	display:block;
}
.tiles li:hover p {
	display:block;
	animation:opac 0.3s forwards;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	background-color:rgba(238,238,238,0.7);
	font-size:0.9rem;
	margin:0;
}
.tiles a:link {
	text-decoration: none;
	color:black;
}
.tiles a:visited {
	color:black;
}
@media only screen and (min-width:600px) {
	.parallax {background-attachment: fixed;}
	.half {width:48%;}
}
@media only screen and (min-width:769px) {
	.third {width:31%;}
	.twothirds {width:64%;};
}
@media only screen and (max-width:600px) {
	.mobile-hide {display:none;}
}
@keyframes opac{from{opacity:0} to{opacity:1}}