// Colors
$off-white:        #efefef;
$chalky-black:     #232323;

// Customize minima sass variables
$base-font-family:   Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$header-font-family: 'Life Savers', Verdana, sans-serif;
$base-font-size:     20px;
$base-font-weight:   300;
$small-font-size:    $base-font-size * 0.875;
$base-line-height:   1.5;

$spacing-unit:     30px;

$text-color:       $chalky-black;
$background-color: $off-white;

// Brand color is used for links
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$table-text-align: left;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
