---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Colors
$white:			   #fff;
$off-white:		   #f5f5f5;
$chalky-black:	   #424242;
$creamy-green:	   #789591;
$checker-blue:     #1f4790; // #435576;
$suit-brown:	   #36312e;

// Customize minima sass variables
$base-font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$logo-font-family: "Life Savers", Georgia, serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.8;
$tiny-font-size:   14px;
$base-line-height: 1.5;

$spacing-unit:     30px;
$min-width:		   250px;	// Absolute minimum width of the site

$text-color:       $chalky-black;
$background-color: $white;

// Brand color is used for links
$brand-color:      $checker-blue;
$link-hover-color: $suit-brown;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$table-text-align: left;
$thick-border:     5px solid $chalky-black;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$transition-duration: 0.2s;

@import "minima";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Life+Savers&text=bp');

html {
	height: 100%;	// needed to make parallax class work
}
body {
	display:initial;
}
h1 {
	margin-bottom: 0;
}
p, ol, ul {
	.snippet & {
		font-size: $small-font-size;
	}
}
pre {
	@include relative-font-size(0.8);
	background-color: inherit;
	code {
		@include relative-font-size(0.8);
	}
}
code {
	border: 0;
	background: none;
	padding: 0 2px;
	font-weight: bold;
}
blockquote {
	letter-spacing: unset;
	color: unset;
	&:last-child {
		margin-bottom: 0;
	}
}
main {
	padding-top: $spacing-unit;
	margin-top: 75px;
}


.container {
	margin: $spacing-unit;
}
.text-muted {
	color: $grey-color;
}
.text-center {
	text-align: center;
}
// Rows and columns
.row {
	display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: $spacing-unit;
}


/**
 * ABOUT PAGE
 */
.tagline {
	font-size: $small-font-size;
	@extend .text-muted;
}
.social-media-list {
	margin-bottom: $spacing-unit;
	svg {
		transition: 0.2s;
	}
	a {
		margin-right: $spacing-unit;
	}
	a:hover svg {
		transform: scale(1.25,1.25);
	}
	a:last-child {
		margin-right: 0;
	}
}

/**
 * SITE HEADER
 */

.site-header {
	min-width: $min-width;
	background-color: $chalky-black;
	color: $off-white;
	border: none;
	width: 100%;
    position: fixed;
    z-index: 2;
	transition: $transition-duration;

	&.slide-up {
		transform: translateY(-100px);
	}

	.header-wrapper {
	  max-width: 1040px;
	  margin-right: auto;
	  margin-left: auto;
	  padding-right: $spacing-unit;
	  padding-left: $spacing-unit;
	  @extend %clearfix;

	  @include media-query($on-laptop) {
	      max-width: 1040px;
	      padding-right: $spacing-unit / 2;
	      padding-left: $spacing-unit / 2;
	  }
	}

	#logo {
		font-family: $logo-font-family;
		font-size: 50px;
		transition: $transition-duration;

		a, a:hover {
			color: $off-white;
			text-decoration: none;
		}
	}

	.site-nav {
		margin-top: 5px;
		font-size: $small-font-size;
		transition: $transition-duration;

		.page-link,
		.page-link:visited {
			color: $off-white;
			text-decoration: none;
			@include media-query($on-palm) {
				color: $text-color;
			}
			&::before {
				position: relative;
				top: -1px;
				left: -3px;
				content: "»";
				opacity: 0;
				transition: $transition-duration;
			}
			&:hover::before {
				opacity: 1;
			}
		}
	}
}

.expanded .site-header {
	background: none;

	#logo {
		font-size: 100px;
	}

	.site-nav {
		margin-top: 75px;
	}
}

/**
 * BLOG CARDS
 */
.blog-cards {
	h2 {
		margin-bottom: -$spacing-unit;
	}
	.blog-card {
    	padding: 0 $spacing-unit;
    	margin-left: $spacing-unit/2;
    	margin-right: $spacing-unit/2;
		min-width: 210px;
		background-position: center;
		background-repeat: no-repeat;
		
		.post-title {
			font-size: $base-font-size;
			letter-spacing: 0;
			line-height: normal;
			margin-bottom: $spacing-unit / 6;
		}
		.post-link {
			font-size: $base-font-size;
		}
		
		.post-excerpt {
			font-size: $tiny-font-size;
		}

		&.blog-image {
			min-height:250px;
			padding: 0;
			border-radius: $spacing-unit;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			transition: box-shadow 0.2s;
			overflow: hidden;

			&:hover {
				box-shadow: inset 0 0 10px $off-white;
			}

			.card-link {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
			}

			.post-title, .post-link, .post-meta, .post-excerpt {
				padding: 0 $spacing-unit;
				color: white;
			}

			.post-title {
				text-transform: uppercase;
			}
		}
	}
}

/**
 * FOOTNOTES
 */
.footnote {
	font-size: 0.9rem;
}
.footnotes {
	margin-top: 2rem;
	border-top: 1px solid #CCC;

	ol, li, p, code {
		font-size:0.9rem;
		color: #777;
	}
}


/**
 * PARALLAX
 */
.parallax {
	background-image: radial-gradient(transparent, rgba(0,0,0,0.4)), url({{ "/assets/img/ben1500.jpg" | relative_url }});
	background-position: center 40%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

	&.jumbotron {
		height: 100%;
		// Fix for small screens
		@include media-query($on-palm) {
			background-attachment: scroll;
			background-size: auto 600px;
		}
	}

	&.bottom {
		height: 100%;
		background-attachment: fixed;
		// Fix for small screens
		@include media-query($on-palm) {
			background-attachment: scroll;
		}
	}


}

/**
 * PORTFOLIO LIST
 */
.project-nav {
	font-size: $small-font-size;

	a {
		display: inline-block;
		padding: $spacing-unit / 2;
	}
}
.portfolio-list {

	.pagination {
		text-align: center;

		button {
			font-size: $base-font-size;
			color: $off-white;
			background: #787878;
			border: 0;
			outline: none;
			display: inline-block;
			padding: 0 $spacing-unit/2;
			height: $spacing-unit;
			line-height: $spacing-unit;
			border-radius: 2px;
		}
		button[disabled] {
			background: #ccc;
		}
		button:active {
			background-color: $suit-brown;
		}
		span {
			padding: 0 $spacing-unit;
		}
	}

	.project-repo-link {
		text-align: right;
		margin: 0;

		a, a:visited {
			color: $off-white;
		}
	}

	.project-date {
		float: left;
		color: $off-white;
	}
}

/**
 * CARDS
 */
.card {
    border: 2px solid $suit-brown;
    margin-bottom: $spacing-unit;
	font-size: $small-font-size;
	// If you ever set border-radius, but sure to set overflow: hidden;
	// otherwise the background-images will leak out.
	// overflow: hidden;

	.card-img-header {
	    background-repeat: no-repeat;
	    background-position: center;
		height: 300px;
		border-bottom: 2px solid $suit-brown;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

    .card-body {
	    border-bottom: 2px solid $suit-brown;

    	.card-text {
    		padding: $spacing-unit;
	    	&:last-child {
	    		margin-bottom: 0;
	    	}
    	}
    }

    .card-footer {
    	background-color: $creamy-green;
    	color: $off-white;
    	padding: 2px $spacing-unit/2;
    	font-size: $tiny-font-size;
    }
}



/**
 * POST LISTS
 */
.post-list {
	& > li,
	p {
	    font-size: initial;
	    line-height: initial;
	}
	~ .rss-subscribe {
		font-size: $small-font-size;
	}
}
.post-excerpt {
	margin-bottom:15px;
}

/**
 * LINKS
 */
a,
.site-nav .page-link {
 	text-decoration: underline;
	&:visited {
		color: $brand-color;
	}
	&:hover {
		color: $link-hover-color;
	}
}
a.post-category,
a.post-category:visited {
	// font-size: $small-font-size;
	text-decoration: none;
	background-color: $grey-color;
	color: $off-white;
	border-radius: 5px;
    padding: 3px 10px;
    margin-left: 5px;
}
a.post-category:hover {
	background-color: $grey-color-dark;
}
a.reversefootnote {
	text-decoration: none;
}


/**
 * POSTS
 */
.post {
	.caption {
		font-size: 12px;
	}
	.post-header {
		margin-bottom: 0;
		.post-title {
			line-height: initial;
		}
		.post-categories {
		    margin-bottom: $spacing-unit;
		    font-size: $small-font-size;
		    font-style: italic;
		}
		.post-meta {
			margin-bottom: 0;
			margin-left: 1px;
		}
	}
	.post-content {
		p {
			margin-bottom: $spacing-unit;
			line-height: 1.6;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		h2 {
			line-height: 1.3;
		    margin-top: $spacing-unit * 2;
		}
	}
	.link-to-top {
		margin: $spacing-unit 0;
		font-size: $small-font-size;
		text-align: right;
		.octicon-triangle-up {
			margin-left: 5px;
		}
	}
}

/**
 * SYNTAX HIGHLIGHTING
 */
.highlight {
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	margin-bottom: $spacing-unit;
	pre {
		border:none;
		margin:0;
	}
	table, th, td {
		border:none;
		margin:0;
		padding:0;
	}
	.gutter {
		width:3em;
	}
	.lineno {
		color: #BBB;
	}
}

/**
 * CATEGORY PAGE
 */
.archive-group .category-head {
	margin-top:2rem;
}
.archive-group article {
	margin-left:20px;
}

/**
 * SNIPPET
 */
.snippet {
	margin: $spacing-unit 0;
	padding: 16px;
	background: $white;
	border: 1px solid #CCC;
	border-radius: 4px;
}


/**
 * TASK ITEM LISTS
 */
.task-list-item {
	list-style-type: none;
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	span {
		position: absolute;
		width: 1.2rem;
		height: 1.2rem;
		top:6px;
		left:0;
		background-color:white;
		border: 1px solid #CCC;
		border-radius: 4px;
	}
	span.checked::before {
		content: "\2713";
		position: absolute;
    	top: -6px;
	}
}

/**
 * CSS for jekyll-octicon icons
 * See: https://github.com/primer/octicons/tree/master/lib/octicons_jekyll
 */
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

[v-cloak] {
	display: none;
}
