---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


html, body {
	padding:0;
	margin:0;
	height:100%;
}
body {
	display:initial;
	background-color:#EEE;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
h1 {
	font-family: 'Life Savers', Verdana, sans-serif;
	margin-bottom:0;
	font-size:3rem;
}
p, ol, ul {
	font-size: 1.4rem;
	line-height: 1.7;	
}
.container {
	width:100%;
	padding:1rem 1%;
	box-shadow: inset 0px -10px 20px -7px #333, inset 0px 10px 20px -7px #333;
}
.container:before, .container:after {
	content:"";
	display:table;
	clear:both;
}
.third,.twothirds {
	float:left; 
	width:100%;
	padding:0 1%;
}
.content {
	margin-right: 20%;
}
.parallax {
	background-image:url({{ "/assets/img/ben1500.jpg" | relative_url }});
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax.top {
	height:10%;
}
.parallax.bottom {
	height:100%;
}
.tagline {
	color:#777;
	font-size:0.9rem;
	margin-bottom:1rem;
}
.site-header {
	border:none;
}
.social-media-list {
	font-size: 0.9rem;
	line-height: initial;
	margin-bottom:2rem;
}
.social-media-list svg {
	transition: 0.2s;
}
.social-media-list li:hover svg {
	transform: scale(1.25,1.25);
}
.footnote {
	font-size: 0.9rem;
}
.footnotes {
	margin-top: 2rem;
	border-top: 1px solid #CCC;
}
.footnotes ol, .footnotes li, .footnotes p {
	font-size:0.9rem;
	color: #777;
}
.post-list > li, .post-list p {
    font-size: initial;
    line-height: initial;
}
.rss-subscribe {
	font-size: 0.9rem;
    color: #777;
}
@media only screen and (min-width:600px) {
	.parallax {background-attachment: fixed;}
}
@media only screen and (min-width:769px) {
	.third {width:31%;}
	.twothirds {width:64%;};
}
@media only screen and (max-width:600px) {
	.mobile-hide {display:none;}
	.content {width:90%;}
}
@keyframes opac{from{opacity:0} to{opacity:1}}
