<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="parallax"></div>
    <div class="container">
      <div class="third">
        <h1>Ben Patterson</h1>
        <p class="tagline">educator &bull; classicist &bull; developer &bull; eater&nbsp;of&nbsp;chocolate&nbsp;&#x1F36B;</p>
        <p class="connections">
          <a href="mailto:bmizepatterson@gmail.com" title="Send an email to Ben Patterson">
            <img src="{{ "assets/img/logo_gmail_64px.png" | relative_url }}" alt="bmizepatterson@gmail.com" width="32" height="32" />
          </a>
          <a href="https://github.com/bmizepatterson" title="Connect with Ben Patterson on GitHub">
            <img src="{{ "assets/img/github.svg" | relative_url }}" alt="Ben Patterson on GitHub" width="32" height="32" />
          </a>
          <a href="https://www.linkedin.com/in/bmizepatterson" title="Connect with Ben Patterson on LinkedIn">
            <img src="{{ "assets/img/In-2C-34px-TM.png" | relative_url }}" alt="Ben Patterson on LinkedIn" width="45" height="32" />
          </a>
          <a href="https://stackoverflow.com/users/6894436/ben-patterson?tab=profile" title="Connect with Ben Patterson on StackOverflow">
            <img src="{{ "assets/img/so-icon-64.png" | relative_url }}" alt="Ben Patterson on Stack Overflow" width="32" height="32" />
          </a>
          <a href="https://twitter.com/magister_p" title="Connect with Ben Patterson on Twitter">
            <img src="{{ "assets/img/twitter.svg" | relative_url }}" alt="Ben Patterson on Twitter" width="32" height="32" />
          </a>
        </p>
      </div>
      <main class="twothirds" aria-label="Content">

        {%- include header.html -%}
        
        {{ content }}

      </main>
    </div>
    <div class="parallax mobile-hide"></div>

  </body>

</html>
