---
layout: default
---

<div class="parallax jumbotron">
    <div id="header-container" class="expanded">
        {%- include header.html -%}
    </div>
</div>

<div class="container">

<section class="page-content">{{ content }}</section>

<section class="page-content blog-cards">

{%- if site.posts.size > 0 -%}

    <div class="row">
    {%- for post in site.posts limit:3 -%}

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

        
        {%- if post.image -%}
        <div class="col blog-card blog-image" style="background-image: linear-gradient(transparent 0%, black), url('{{ post.image | relative_url }}');">

            <a href="{{ post.url | relative_url }}" class="card-link"></a>
            <h3 class="post-title">
                {{ post.title | escape }}
                {%- if post.subtitle -%}
                : {{ post.subtitle }}
                {%- endif -%}
            </h3>
        {%- else -%}
        <div class="col blog-card">
            
            <h3 class="post-title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                    {%- if post.subtitle -%}
                    : {{ post.subtitle }}
                    {%- endif -%}
                </a>
            </h3>
        {%- endif -%}
            
            <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
            {%- if site.show_excerpts -%}
            <div class="post-excerpt">
                {{ post.excerpt }}
            </div>
            {%- endif -%}

        </div>
    {%- endfor -%}
    </div>
{%- endif -%}

</section>
</div>
