---
layout: default
---

<div class="parallax jumbotron"></div>

<main class="wrapper">

    {{ content }}

    {%- if site.posts.size > 0 -%}

        {%- assign post = site.posts[0] -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h1 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
                {%- if post.subtitle -%}
                : {{ post.subtitle }}
                {%- endif -%}
            </a>
        </h1>

        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
            <div class="post-excerpt">
                {{ post.excerpt }}
            </div>
        {%- endif -%}


    {%- endif -%}

</main>
